/* Start First Section Responsive CSS */
@media all and (max-width: 978px) {
    .first-section .container {
        width: 90%;
    }

    .first-section nav ul {
        display: none;
    }
    .first-section nav form {
        display: block;
    }

    .first-section .bg-img .opacity-first h4 {
        font-size: 3rem;
    }
}
@media all and (max-width: 790px) {
    .first-section .bg-img {
        height: 580px;
    }
}
@media all and (max-width: 768px) {
    .first-section .bg-img .opacity-first h4 {
        font-size: 2rem;
    }
}

/* End First Section Responsive CSS */

/* Start Second Section Responsive CSS */
@media all and (max-width: 1273px) {
    .second-section .container {
        width: 1000px;
    }

    .second-section .right-section a {
        height: 282px;
    }
}
@media all and (max-width: 1020px) {
    .second-section .left-section .in-container {
        width: 100%;
        padding: 20px 20px;
        overflow: hidden;
    }
}

@media all and (max-width: 1000px) {
    .second-section .container {
        width: 800px;
    }
    .second-section .right-section a {
        width: 93%;
        height: 238px;
    }

    .second-section .right-section a img {
        top: 7px;
        left: 7px;
        bottom: 7px;
        right: 7px;
    }
}

@media all and (max-width: 768px) {
    .second-section .section-of-third {
        float: none;
        width: 100%;

    }

    .second-section .left-section h4 {
        width: 90%;
    }
    .second-section .left-section p {
        width: 70%;
    }

    .second-section .right-section a {
        position: relative;
        display: block;
        width: 70%;
        height: 360px;
        margin: 0 30px;
    }
    .second-section .right-section {
        padding-top: 0;
        padding-bottom: 90px;
    }
    .second-section .right-section .in-container {
        overflow: hidden;
    }

    .second-section .right-section a img {
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
    }
}

@media all and (max-width: 650px) {
    .second-section .section-of-third {
        width: 77%;
    }
}

/* End Second Section Responsive CSS */

/* Start Third Section Responsive CSS */
@media all and (max-width: 1100px) {
    .third-section .bg-color .container {
        width: 80%;
    }
}

@media all and (max-width: 950px) {
    .third-section .bg-color .container {
        width: 90%;
    }
}
@media all and (max-width: 768px) {
    .third-section {
        color: #ffffff;
        text-align: center;
        width: 100%;
        min-height: 350px;
    }
}

/* End Third Section Responsive CSS */

/* Start Fourth Section Responsive CSS */
@media all and (max-width: 1300px) {
    .fourth-section .container {
        width: 95%;
    }
    .fourth-section .top-section hr {
        width: 10%;
    }
}
@media all and (max-width: 1260px) {
    .fourth-section .container {
        width: 92%;
    }
}
@media all and (max-width: 1200px) {
    .fourth-section .bottom-section .item-box {
        height: 280px;
    }
}
@media all and (max-width: 1000px) {
    .fourth-section .top-section hr {
        width: 13%;
    }
    .fourth-section .bottom-section .item-box {
        width: 48%;
        height: 250px;
        margin-right: 4%;
    }
    .fourth-section .bottom-section .item-box-2,
    .fourth-section .bottom-section .item-box-4,
    .fourth-section .bottom-section .item-box-6 {
        margin-right: 0;
    }
}
@media all and (max-width: 768px) {
    .fourth-section .container {
        width: 90%;
    }
    .fourth-section .bottom-section .item-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10%;
    }
}

/* End Fourth Section Responsive CSS */

/* Start Fiveth Section Responsive CSS */
@media all and (max-width: 1280px) {
    .fiveth-section .bg-img .container {
        width: 95%;
    }
}
@media all and (max-width: 1050px) {
    .fiveth-section {
        min-height: 240px;
    }
    .fiveth-section .bg-img .container {
        width: 90%;
    }
    .fiveth-section .bg-img .container h6 {
        width: 60%;
    }
}
@media all and (max-width: 790px) {
    .fiveth-section .bg-img .container {
        width: 85%;
    }
    .fiveth-section .bg-img .container h6 {
        width: 100%;
        margin: 70px 0 0 0;
        float: none;
    }
    .fiveth-section .bg-img .container .btn-a {
        float: none;
        margin: 0 auto;
        width: 259px;
    }
    .fiveth-section .bg-img .container .btn-a a {
        margin: 30px 0 0 0;
        font-size: 0.9rem;
    }
}

/* End Fiveth Section Responsive CSS */

/* Start Sixth Section Responsive CSS */

@media all and (max-width: 1280px) {
    .sixth-section .container {
        width: 1150px;
    }
    .sixth-section .profile-box .profile-photo {
        height: 200px;
    }

    .sixth-section .profile-box ul {
        width: 90%;
    }
}

@media all and (max-width: 1160px) {
    .sixth-section .container {
        width: 1050px;
    }
    .sixth-section .container .profile-description-container .profile-box {
        width: 22.75%;
        min-height: 530px;
        margin-right: 3%;
    }
    .sixth-section .container .profile-description-container .profile-box-4 {
        margin-right: 0;
    }

    .sixth-section .profile-box .profile-photo {
        height: 185px;
    }
    .sixth-section .profile-box .container-in-profile {
        padding: 20px 5px;
    }
}

@media all and (max-width: 1050px) {
    .sixth-section .headline-section hr {
        width: 12%;
    }

    .sixth-section .container {
        width: 800px;
    }
    .sixth-section .profile-box .profile-photo {
        height: 145px;
    }
    .sixth-section .profile-box .profile-photo a i {
        top: 42%;
        left: 39%;
        font-size: 1.6rem;
    }

    .sixth-section .profile-box ul {
        width: 95%;
    }
    .sixth-section .profile-box ul li {
        margin: 4%;
    }
}

@media all and (max-width: 810px) {
    .sixth-section .headline-section hr {
        width: 15%;
    }

    .sixth-section .container {
        width: 650px;
    }

    .sixth-section .container .profile-description-container .profile-box {
        width: 47.5%;
        min-height: 580px;
        margin-right: 5%;
        margin-top: 5%;
    }
    .sixth-section .container .profile-description-container .profile-box-2,
    .sixth-section .container .profile-description-container .profile-box-4 {
        margin-right: 0;
    }
    .sixth-section .profile-box .profile-photo {
        height: 245px;
    }
    .sixth-section .profile-box .profile-photo a i {
        top: 45%;
        left: 43%;
        font-size: 2rem;
    }
    .sixth-section .profile-box .container-in-profile {
        padding: 30px;
    }

    .sixth-section .profile-box .p-2 {
        padding: 80px 0;
    }
    .sixth-section .profile-box ul {
        width: 92%;
    }
    .sixth-section .profile-box ul li {
        margin: 5.5%;
    }
}

@media all and (max-width: 660px) {
    .sixth-section .headline-section hr {
        width: 22%;
    }

    .sixth-section .container {
        width: 370px;
    }

    .sixth-section .container .profile-description-container .profile-box {
        width: 360px;
        min-height: 580px;
        float: none;
        margin: 40px auto 0 auto;
    }
    .sixth-section .profile-box .profile-photo {
        height: 288px;
    }
}

@media all and (max-width: 365px) {
    .sixth-section .container {
        width: 100%;
    }
    .sixth-section .container .profile-description-container .profile-box {
        width: 90%;
    }
}

/* End Sixth Section Responsive CSS */

/* STart Seventh Section Responsive CSS */
@media all and (max-width: 1400px) {
    .seventh-section .container {
        width: 80%;
    }
}

@media all and (max-width: 1300px) {
    .seventh-section .container {
        width: 85%;
    }
}
@media all and (max-width: 1000px) {
    .seventh-section .headline-section hr {
        width: 12%;
    }

    .seventh-section .container {
        width: 90%;
    }

    .seventh-section .article-container .article .profile-box {
        padding: 20px 15px;
    }
    .seventh-section .article-container .article .profile-photo {
        width: 60px;
        height: 60px;
    }

    .seventh-section .article-container .article .name-n-title {
        padding: 15px 0 15px 15px;
    }
}

@media all and (max-width: 860px) {
    .seventh-section .headline-section hr {
        width: 13%;
    }

    .seventh-section .container .article-container .article {
        width: 47.85%;
        margin-right: 4.25%;
    }
    .seventh-section .container .article-container .article-2 {
        margin-right: 0;
    }

    .seventh-section .article-container .article .profile-box {
        padding: 25px 20px;
    }
    .seventh-section .article-container .article .profile-photo {
        width: 70px;
        height: 70px;
    }

    .seventh-section .article-container .article .name-n-title {
        padding: 15px;
    }
}

@media all and (max-width: 650px) {
    .seventh-section .headline-section hr {
        width: 20%;
    }

    .seventh-section .container .article-container .article {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
}

@media all and (max-width: 400px) {
    .seventh-section .container .article-container .article {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
}

/* End Seventh Section Responsive CSS */

/* Start Eighth Section Responsive CSS */
@media all and (max-width: 1400px) {
    .eight-section .container {
        width: 80%;
    }
}

@media all and (max-width: 1300px) {
    .eight-section .container {
        width: 85%;
    }
}
@media all and (max-width: 1000px) {
    .eight-section .headline-section hr {
        width: 12%;
    }

    .eight-section .container {
        width: 90%;
    }
}

@media all and (max-width: 860px) {
    .eight-section .headline-section hr {
        width: 13%;
    }

    .eight-section .container .article-container .article {
        width: 47.85%;
        margin-right: 4.25%;
    }
    .eight-section .container .article-container .article-2 {
        margin-right: 0;
    }
}

@media all and (max-width: 650px) {
    .eight-section .headline-section hr {
        width: 20%;
    }

    .eight-section .container .article-container .article {
        width: 90%;
        float: none;
        margin: 0 auto 30px auto;
    }
}

@media all and (max-width: 400px) {
    .eight-section .container .article-container .article {
        width: 100%;
        float: none;
        margin: 0 auto 30px auto;
    }
}

/* End Eighth Section Responsive CSS */

/* Start Footer/Nineth Section Responsive CSS */
@media all and (max-width: 1400px) {
    .footer-section .container {
        width: 1265px;
    }
}
@media all and (max-width: 1300px) {
    .footer-section .container {
        width: 90%;
    }
}
@media all and (max-width: 1100px) {
    .footer-section .container {
        width: 95%;
    }
}
@media all and (max-width: 900px) {
    .footer-section .container {
        width: 90%;
    }
    .footer-section .box {
        width: 47.5%;

        margin-right: 5%;
    }
    .footer-section .box-2,
    .footer-section .box-4 {
        margin-right: 0;
    }
}
@media all and (max-width: 600px) {
    .footer-section .container {
        width: 90%;
    }
    .footer-section .box {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
}
@media all and (max-width: 320px) {
    .footer-section .container {
        width: 100%;
    }
}
/* Start Copyright Footer */
@media all and (max-width: 1100px) {
    .copyright-foot .container {
        width: 85%;
    }
}

@media all and (max-width: 900px) {
    .copyright-foot .container {
        width: 95%;
    }
}
@media all and (max-width: 768px) {
    .copyright-foot .container {
        width: 90%;
    }
    .copyright-foot .inner-box {
        float: none;
    }
}

/* End Copyright Footer */

/* End Footer/Nineth Section Responsive CSS */
